.bins-buttons {
  float: right;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

a:hover.bins-buttons {
  text-decoration: none;
}

.bins-iframe {
  width: 900px;
  height: 800px;
  postion: 'absolute';
  left: 100px;
  top: 100px;
  z-index: 999999999;
}
