.bins-buttons {
  float: right;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

a:hover.bins-buttons {
  text-decoration: none;
}

.bins-iframe {
  width: 1200px;
  height: 900px;
  postion: absolute;
  left: 300px;
  top: 300px;
  z-index: 999999999;
}
