// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #303030;
  text-transform: uppercase;

  a {
    color: #303030;
  }

  a:hover {
    text-decoration: none;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}

.masthead-links {
  ul {
   margin: 0;
   padding: 0;
  }

  li {
    display: inline;
    letter-spacing: 4px;
    margin: 0 1.5rem;
  }
  a {
    text-decoration: none;
  }
  a: hover {
    font-weight: bold;
  }

  a: active {
    font-weight: bolder;
  }
}
