// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

.list-post {
  margin-bottom: 1em;
  padding-left: 5px;
}

.posts {
  text-align: left;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #bf616a;
  text-decoration: none;
  font-size: 26px;
  font-weight: 300;
  text-transform: capitalize;
}
.post-title a:hover {
  color: #bf616a;
}
.page-title,
.post-title {
  margin: 0;
  text-transform: capitalize;
}

// Meta data line below post title
.post .post-date {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 16px;
}

.post img {
  box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
}

.list-post .post-date {
  display: block;
  color: #9a9a9a;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
}

.list-post:hover {
  cursor: pointer;
}

// post.excerpt
.list-post p {
  display: inline;
  margin-left: 5px;
}

.list-post a.post-link {
  margin-top: -0.5rem;
  color: #4a4a4a;
  cursor: pointer;
  text-decoration: none;
}

.list-post a.post-link:hover {
  margin-top: -0.5rem;
  color: #303030;
  cursor: pointer;
}

// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h4 {
    margin-top: 0;
    text-transform: lowercase;
  }

  li {
    small {
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}
